@use "../../abstracts/mixins" as *;
@use "../../base/colors" as *;
@use "../../base/fonts" as *;
@use "../../base/spaces" as *;

.shop {
	&__1 {
		display: grid;
		grid-template-columns: 1fr;

		gap: $space-gap;
		margin-bottom: $space-gap;

		@include round-corners;
		background-color: $clr-shop-bg;

		padding: $space-gap;
	}

	&__panel {
		grid-column: 1 / -1;

		display: flex;
		justify-content: space-between;
		align-items: center;

		height: $space-btn-height-s;

		&__category {
			margin: 0 $space-xs;
		}
	}

	&__item {
		display: grid;
		grid-template-rows: minmax(0, 1fr) auto;

		height: calc(100svh - $space-header-bar-s - $space-xl - $space-gap);

		@include round-corners;
		overflow: hidden;

		background-color: $clr-shop-item-bg;

		&__img {
			width: 100%;
			height: 100%;

			object-fit: cover;
			object-position: center;
		}

		&__content {
			&-wrapper {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: $space-3xl;
				margin: $space-gap;
			}

			display: flex;
			align-items: center;
			justify-content: center;

			&__name {
				text-align: center;
			}

			&__weight {
				&-wrapper {
					display: flex;
					align-items: center;
					justify-content: center;
				}

				border: 2px solid;
				margin: $space-s calc($space-3xs / 2) 0;
			}
			&__price {
				margin: $space-gap;
			}

			&__add-to-cart {
				width: fit-content;
				margin: 0 auto;
				align-items: center;
				justify-content: center;

				border: 2px solid;
				background: $clr-shop-item-bg;
			}
		}
	}

		&__pages {
		grid-column: 1 / -1;

		display: flex;
		justify-content: space-between;
		align-items: center;

		height: $space-btn-height-s;

		&__category {
			margin: 0 $space-xs;
		}
	}

	&__2 {
		display: grid;
		grid-template-columns: 1fr;

		gap: $space-gap;

		.register-bar {
			grid-row: 1 / 2;
		}

		.recomended-bar {
			grid-row: 2 / 3;
		}

		.articles-bar {
			grid-row: 3 / 4;
		}
	}
}

@media (min-width: $media-query-shop-menu) {
	.shop {
		&__item {
			height: calc(
				100vh - $space-header-bar-s - $space-2xl - $space-xl - $space-shop-menu -
					$space-gap
			);
		}

		&__2 {
			grid-template-columns: repeat(3, 1fr);

			.register-bar {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
			}

			.recomended-bar {
				grid-column: 2 / -1;
				grid-row: 1 / 2;
			}

			.articles-bar {
				grid-column: 1 / -1;
				grid-row: 2 / 3;
			}
		}
	}
}
@media (min-width: $media-query-header-bar-l) {
	.shop {
		&__item {
			height: calc(
				100vh - $space-header-bar-l - $space-2xl - $space-xl - $space-shop-menu -
					$space-gap
			);
		}
	}
}

@media (min-width: $media-query-shop-item-2) {
	.shop {
		&__1 {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
@media (min-width: $media-query-shop-item-3) {
	.shop {
		&__1 {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
@media (min-width: $media-query-shop-item-4) {
	.shop {
		&__1 {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
