@use "../base/colors" as *;
@use "../base/spaces" as *;






@mixin round-corners {
	border-radius: 30px;
	
}

@mixin box-image {
	position: relative;

    overflow: hidden;

    @include round-corners;

    &__img { 
        position: absolute;

        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: bottom left;
    }

    &__text {
        text-align: center;
        
        &-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
        

        }
        
    }


    &__btn {
        
        margin: $space-gap;
        background: $clr-bg;

        &-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
        
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }
}





