// Kolory na stronie:

$clr-primary: #000000;
$clr-secondary: #940000;
$clr-accent: #339a57;
$clr-bg: #ffffff;

$clr-text: #111111;

$clr-white: #ffffff;
$clr-grey: #d8d8d8;
$clr-darkgray: #c0c0c0;
$clr-lightblack: #111;
$clr-black: #000;

$clr-nav-bar-bg: #d7b690;
$clr-nav-bg: rgb(150, 117, 84);
$clr-footer-bg: #452818;
$clr-shop-menu-bg: #b89786;

// html {
// 	color-scheme: light dark;
// }

@media (prefers-color-scheme: dark) {
}


