// Kolory na stronie:

$clr-primary: #b89786;
$clr-secondary: #cb8f71;

$clr-secondary:#d19d5e;

$clr-accent: #452818;
$clr-bg: #f8dda5;

$clr-text: #2b1800;

$clr-white: #ffffff;
$clr-grey: #d8d8d8;
$clr-darkgray: #c0c0c0;
$clr-lightblack: #111;
$clr-black: #000;



$clr-nav-bar-bg: $clr-primary;
$clr-nav-bg: $clr-primary;
$clr-header-bar-bg: $clr-secondary;
$clr-footer-bg: $clr-accent;


// html {
// 	color-scheme: light dark;
// }

@media (prefers-color-scheme: dark) {
}


