// Kolory na stronie:

$clr-primary: #2a1800;
$clr-secondary: #ffd34e;
$clr-accent: #de9b0c;
$clr-bg: #f8dda5;

$clr-text: #2a1800;

$clr-white: #ffffff;
$clr-grey: #d8d8d8;
$clr-darkgray: #c0c0c0;
$clr-lightblack: #111;
$clr-black: #000;

$clr-nav-bar-bg: $clr-bg;
$clr-nav-bg: $clr-bg;
$clr-footer-bg: #452818;
$clr-shop-menu-bg: #b89786;

// html {
// 	color-scheme: light dark;
// }

@media (prefers-color-scheme: dark) {
}


