@use "../base/spaces" as *;

@mixin page-wrapper {
    margin: 0 auto;
	width: 100%;
	max-width: 1200px;

	padding: 0 $space-s;
    
}

@mixin text-wrapper {
	width: min(100% - 3rem, 60ch);
	margin-inline: auto;
}

