@use "../base/spaces" as *;


$media-query-shop-menu: 800px;
$media-query-1: 1000px;
$media-query-2: 1200px;
$media-query-3: 1400px;

@mixin page-wrapper {
    margin: 0 auto;
	width: 100%;
	max-width: 1200px;

	padding: 0 $space-s;
    
}

@mixin text-wrapper {
	width: min(100% - $space-m, 60ch);
	margin-inline: auto;
}

@mixin round-corners{
	border: 2px solid transparent;
	border-radius: 30px;
	
}





