@use "../../abstracts/mixins" as *;
@use "../../base/colors" as *;
@use "../../base/fonts" as *;
@use "../../base/spaces" as *;

.nav-bar {
    .burger-btn {
        &-wrapper {
        position: fixed;
        z-index: 3;

        width: fit-content;
        height: $space-header-bar-s;

        padding: 0 $space-m;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        }
    }

    .shop-btn {
        border: 2px solid $clr-text;

        &-wrapper {
            position: fixed;
            z-index: 3;
            left: calc($space-s + 30px + 3*$space-s);

            width: fit-content;
            height: $space-header-bar-s;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            
        }
    }

    .nav {
        position: fixed;
        z-index: 1;

        width: 60%;
        min-height: 100%;

        background: $clr-nav-bg;

        &__list {  
            &__item {                  
                &--shop {
                    &__item {
                    }
                }
            }
        }
    }
}

@media (min-width: $media-query-1) {
    .nav-bar {
        all:unset;

        .burger-btn {
            display: none;
        }
        .shop-btn {
            display: none;
        }
    
        .nav {
            all:unset;	
            position: fixed;
            z-index: 100;

            height: $space-header-bar-l;

            padding: 0 $space-m;

            display: flex;
            align-items: center;
            justify-content: left;

            &__list {

    
                all:unset;
    
                display: flex;
                align-items: center;
                justify-content: center;
                
                &__item {
                    margin-right: $space-3xs;

                    &--shop {
                        &--btn {
                            border: 2px solid $clr-text;
                        }

                        &__item { 
                           display: none;
                        }
                    }
                }
            }
        }
    }
}


