@use "../../abstracts/mixins" as *;
@use "../../base/colors" as *;
@use "../../base/fonts" as *;
@use "../../base/spaces" as *;

.nav-bar {
    .burger-btn {
        &-wrapper {
        @include page-wrapper;
        width: fit-content;
        

        position: fixed;
        z-index: 3;

        height: $space-3xl;

        display: flex;
        align-items: center;
        justify-content: flex-start;



        }
    }

    .shop-btn {

        display: flex;
        align-items: center;
        justify-content: center;

        margin: auto $space-3xs;
        padding: 0 $space-s;

        border: 2px solid $clr-text;

        
        &-wrapper {
            @include page-wrapper;
            width: fit-content;

            position: fixed;
            z-index: 3;

            left: calc($space-s + 30px + $space-s + $space-3xs  + $space-3xs + $space-3xs);

            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            height: $space-3xl;
        }
    }

    .nav {
        position: fixed;
        z-index: 1;
        min-height: 100%;
        width: 70%;

        background: $clr-nav-bg;

        

        &__list {  
            &__item {                  
                &--shop {
                    &__item {
                    }
                }
            }
        }
    }
}

@media (min-width: $media-query-1) {
    .nav-bar {
        all:unset;

        &-wrapper {
            @include page-wrapper;
        }

        .burger-btn {
            display: none;
        }
        .shop-btn {
            display: none;
        }
    
        .nav {
            all:unset;	
            position: fixed;
            z-index: 100;

            height: calc($space-3xl + 1rem);
            display: flex;
            align-items: center;
            justify-content: left;

            font-family:$ff-accent;
            
    
            &-wrapper {
                
            }
    
            &__list {
                height: calc($space-3xl + 1rem);
    
                all:unset;
    
                display: flex;
                align-items: center;
                justify-content: center;

                &__item {
                    a {

                    }

                    &--shop {
                        a {
                            border: 2px solid $clr-text;
                        }

                        &__item { 
                           display: none;
                        }
                    }
                }
            }
        }
    }
}


