@use "../../abstracts/mixins" as *;
@use "../../base/colors" as *;
@use "../../base/fonts" as *;
@use "../../base/spaces" as *;

.shop-menu {
    display: none;
}

@media (min-width: $media-query-shop-menu) {
    .shop-menu {
        
        


        height: calc(2*$fs-accent-500 + $space-3xl + $space-s);

        


        &-wrapper {
            @include page-wrapper;
        }
    
        &__item {
            display: grid;
            align-items: top;
            justify-items: center;
            
    
            &__img {              
                width: $space-3xl;
                height: $space-3xl;

                border-radius: 50%;
                align-items: flex-end;

                
                &--sale {
                    background-image: url("/img/header/promocje.png");
                }

                &--honey {
                    background-image: url("/img/header/miody.png");
                }

                &--bee-products {
                    background-image: url("/img/header/produkty-pszczele.png");
                }

                &--candles {
                    background-image: url("/img/header/swiece.png");
                }

                &--sets {
                    background-image: url("/img/header/zestawy.png");
                }
            }

            &__text {

                margin-top: $space-s;



                font-size: $fs-accent-500;
 
                
                text-align: center;
                text-transform: uppercase;

                

            }
        }
    }



}