@use "../abstracts/mixins" as *;
@use "../base/fonts" as *;
@use "../base/spaces" as *;

.home {
		display: grid;
		grid-template-rows: calc(60vh - 2*$space-3xl - 2*$space-m) 40vh repeat(4, auto);

		gap: $space-m;
	
	.hero {
		grid-row: 1 / 2;
	}
	
	.how-to {
		grid-row: 2 / 3;
	
		background-color: rgb(114, 87, 87);
	}
	
	.description {
		grid-row: 3 / 4;
	}
	.register {
		grid-row: 4 / 5;
	
		background-color: rgb(114, 87, 87);
	}
	.recomended {
		grid-row: 5 / 6;
	
		background-color: rgb(114, 87, 87);
	}
	
	.articles-bar {
		grid-row: 6 / 7;
	
		background-color: rgb(114, 87, 87);
	}
}






@media (min-width: $media-query-shop-menu) {
	.home {
		
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: calc(100vh - 4*$space-3xl - (2*$fs-accent-500 + $space-3xl + $space-s)) repeat(3, auto);
		
		.hero {
			grid-column: 1 / 5;
			grid-row: 1 / 2;
		}
		
		.how-to {
			grid-column: 5 / -1;
			grid-row: 1 / 2;
		}
		
		.description {
			grid-column: 1 / -1;
			grid-row: 2 / 3;

			margin-top: calc($space-3xl - $space-s);
		}

		.register {
			grid-column: 1 / 3;
			grid-row: 3 / 4;
		}

		.recomended {
			grid-column: 3 / -1;
			grid-row: 3 / 4;
		}
		
		.articles-bar {
			grid-column: 1 / -1;
			grid-row: 4 / 5;
		}
	}
}

@media (min-width: $media-query-1) {
	.home {
		grid-template-rows: calc(100vh - 4*$space-3xl - 3*$space-s - (2*$fs-accent-500 + $space-3xl + $space-s)) repeat(3, auto);
		

		.description {
			margin-top: calc($space-3xl);
		}
	}

}
