.home {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);

	gap: 2rem;

	padding:  0 3rem;

	
	background-color: rgb(114, 87, 87);
}

.slider {
	grid-column: 1 / 4;
	grid-row: 1 / 2;

	min-height: 90svh;
}

.how-to {
	grid-column: 4 / 5;
	grid-row: 1 / 2;
}

.description {
	grid-column: 1 / -1;
	grid-row: 2 / 3;
}
.register {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}
.recomended {
	grid-column: 3 / -1;
	grid-row: 3 / 4;
}

.articles-bar {
	grid-column: 1 / 5;
	grid-row: 4 / 5;
}

@media (min-width: 768px) {

	.slider {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	
		min-height: 90svh;
	}
}

// @media (min-width: 1200px) {
// }
