// Kolory na stronie:

$clr-primary: #b89786;

$clr-secondary: #d19d5e;

$clr-accent: #cb8f71;
$clr-bg: #f8dda5;
$clr-bg-2: #e5be92;
$clr-bg-3: #ffefca;

$clr-text: #2b1800;
$clr-red: #ba4f3d;

$clr-white: #ffffff;
$clr-grey: #d8d8d8;
$clr-darkgray: #c0c0c0;
$clr-lightblack: #111;
$clr-black: #000;

$clr-nav: $clr-primary;
$clr-nav-bg: $clr-primary;
$clr-header: $clr-secondary;

$clr-shop: $clr-bg-2;
$clr-shop-item: $clr-bg-3;

$clr-footer: $clr-accent;

// html {
// 	color-scheme: light dark;
// }

@media (prefers-color-scheme: dark) {
}
