@use "../abstracts/mixins" as *;
@use "../base/colors" as *;
@use "../base/spaces" as *;
@use "../components/header/nav-bar" as *;

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $space-header-bar-s;

  @include media-query-shop-menu {
    grid-template-rows: calc($space-header-bar-s + $space-2xl);
  }

  @include media-query-header-bar-l {
    grid-template-rows: calc($space-header-bar-l + $space-2xl);
  }

  .header-bar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    position: fixed;
    z-index: 1;

    height: $space-header-bar-s;
    width: 100%;

    background: $clr-header-bar-bg;

    @include media-query-header-bar-l {
      height: calc($space-header-bar-l);
    }

    &-wrapper {
      display: grid;
      grid-template-columns: 1fr auto 1fr;

      height: 100%;
    }

    &__1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .logo {
      grid-column: 2 / 3;
      grid-row: 1 / 2;

      display: flex;
      justify-content: center;

      &__shadow {
        position: absolute;
        top: -1rem;

        height: calc($space-header-bar-s + 3rem);
        width: calc($space-header-bar-s + 3rem);

        border-radius: 50%;
        background: $clr-header-bar-bg;

        @include media-query-header-bar-l {
          height: calc($space-header-bar-l + 3rem);
          width: calc($space-header-bar-l + 3rem);
        }
      }

      &__link {
        display: flex;
        justify-content: center;
      }

      &__img {
        position: absolute;

        height: calc($space-header-bar-s + 1rem);
        width: calc($space-header-bar-s + 1rem);

        border-radius: 50%;

        @include media-query-header-bar-l {
          height: calc($space-header-bar-l + 1rem);
          width: calc($space-header-bar-l + 1rem);
        }
      }
    }

    &__2 {
      grid-column: 3 / 4;
      grid-row: 1 / 2;

      @include flex;
      justify-content: flex-end;

      &__item {
        margin-left: $space-3xs;
      }
    }
  }
}
