@use "../../abstracts/mixins" as *;
@use "../../base/colors" as *;
@use "../../base/spaces" as *;

.description {
    margin: calc($space-3xl - $space-m) auto;

    background: $clr-secondary;

    &--header {

    }
    &--text {
        
    }
    &--btn {
        &-wrapper {
            display: flex;
            justify-content: right;
            align-items: flex-end;
        }



        border: 2px solid;
    }
}

@media (min-width: $media-query-1) {
    .description {
        margin: calc($space-3xl - $space-m) auto;
    }
}