@use "../abstracts/mixins" as *;
@use "../base/fonts" as *;
@use "../base/spaces" as *;

.home {
	&__1 {
			display: grid;
			grid-template-rows: calc(60vh - 2*$space-header-bar-s - 2*$space-gap) 40vh;
			
			gap: $space-gap;
		
		.hero {
			grid-row: 1 / 2;
		}
		.how-to {
			grid-row: 2 / 3;
		}
	}
	
	.description {
		
	}

	&__2 {
		display: grid;
		grid-template-columns: 1fr;

		gap: $space-gap;
	}
	.register-bar {
		grid-row: 1 / 2;
	}
	.recomended-bar {
		grid-row: 2 / 3;
	}
	
	.articles-bar {
		grid-row: 3 / 4;
	}
}






@media (min-width: $media-query-shop-menu) {
	.home {
		&__1 {

			grid-template-columns: 3fr 2fr;
			grid-template-rows: calc(100vh - 4*$space-header-bar-s - (2 * $fs-accent-500 + $space-shop-menu-img + $space-s));
			
			
			gap: $space-gap;
			
			.hero {
				grid-column: 1 / 2;
				grid-row: 1 / 2;

			}
			.how-to {
				grid-column: 2 / 3;
				grid-row: 1 / 2;
			}
		}
		
		
		.description {
			
		}
	
		&__2 {

			grid-template-columns: repeat(3, 1fr);

		}
		.register-bar {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
		.recomended-bar {
			grid-column: 2 / -1;
			grid-row: 1 / 2;
		}
		
		.articles-bar {
			grid-column: 1 / -1;
			grid-row: 2 / 3;
		}
	}
	
}

@media (min-width: $media-query-1) {
	.home {
		&__1 {
			
			grid-template-columns: 3fr 2fr;
			grid-template-rows: calc(100vh - 4*$space-header-bar-l - (2 * $fs-accent-500 + $space-shop-menu-img + $space-s));
		}


	}
}
