@use "../../abstracts/mixins" as *;
@use "../../base/colors" as *;
@use "../../base/fonts" as *;
@use "../../base/spaces" as *;

.button.header-bar__2__item {
  position: relative;

  .cart-content {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    background: #f9f9f9;
    overflow-y: auto;
  }

  &.open {
    .cart-content {
      display: block;
    }
  }
}
