@use "../../abstracts/mixins" as *;
@use "../../base/colors" as *;
@use "../../base/fonts" as *;
@use "../../base/spaces" as *;

.nav-bar {
    &.open {
        .nav {
            display: block;
        }
    }

    .burger-btn {
        &-wrapper {
            position: fixed;
            z-index: 3;
            width: fit-content;
            height: $space-header-bar-s;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }

    .shop-btn {
        border: 2px solid $clr-text;

        &-wrapper {
            position: fixed;
            z-index: 3;
            left: calc($space-s + 30px + 3*$space-s);
            width: fit-content;
            height: $space-header-bar-s;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }

    .nav {
        position: fixed;
        left: 0;
        z-index: 1;
<<<<<<< HEAD:src/sass/components/header/_nav-bar.scss
        width: 60%;
        min-height: 100%;
=======

        width: 80%;
        height: 100%;

        margin-top: $space-header-bar-s;

>>>>>>> Brydak:src/components/header/_nav-bar.scss
        background: $clr-nav-bg;
        display: none;

        

        &__list {  
            &__item {                  
                &--shop {
                    &__item {
                    }
                }
            }
        }
    }
}

@media (min-width: $media-query-1) {
    .nav-bar {
        all: unset;

        .burger-btn {
            display: none;
        }
        .shop-btn {
            display: none;
        }
        
        &.open {
            .nav {
                display: flex; // Override the display property of the .nav inside .nav-bar.open
                // Add other styles that should be applied when the screen size is larger
            }
        }

        .nav {
            all: unset;  
            position: fixed;
            z-index: 100;
            height: $space-header-bar-l;
<<<<<<< HEAD:src/sass/components/header/_nav-bar.scss
            padding: 0 $space-m;
=======

>>>>>>> Brydak:src/components/header/_nav-bar.scss
            display: flex;
            align-items: center;
            justify-content: left;

            &__list {
                all: unset;
                display: flex;
                align-items: center;
                justify-content: center;
                
                &__item {
                    margin-right: $space-3xs;

                    &--shop {
                        &__btn {
                            border: 2px solid $clr-text;
                        }

                        &__item { 
                           display: none;
                        }
                    }
                }
            }
        }
    }
}
