@use "../../abstracts/mixins" as *;
@use "../../base/colors" as *;
@use "../../base/fonts" as *;
@use "../../base/spaces" as *;

.shop-menu {
	display: none;

	height: $space-shop-menu;

	@include media-query-shop-menu {
		grid-column: 1 / -1;
		grid-row: 2 / 3;
		
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}

	&__item {
		display: grid;

		align-items: top;
		justify-items: center;

		&__img {
			width: $space-shop-menu-img;
			height: $space-shop-menu-img;

			border-radius: 50%;
			align-items: flex-end;

			&--sale {
				background-image: url("/img/header/promocje.png");
			}

			&--honey {
				background-image: url("/img/header/miody.png");
			}

			&--bee-products {
				background-image: url("/img/header/produkty-pszczele.png");
			}

			&--candles {
				background-image: url("/img/header/swiece.png");
			}

			&--sets {
				background-image: url("/img/header/zestawy.png");
			}
		}
		&__text {
			margin-top: $space-s;

			font-size: $fs-accent-500;

			text-align: center;
			text-transform: uppercase;
		}
	}
}
