@layer base {
  /* --- BARS --- */
  .bar {
    @apply fixed top-[calc(theme(spacing.2xl)+theme(spacing.sm))] -z-20 max-h-[calc(100svh-theme(spacing.3xl)-theme(spacing.sm)-theme(spacing.lg))]  max-w-[calc(100%-theme(spacing.2xs))] bg-bar p-sm shadow;
  }

  /* --- BUTTONS --- */

  .btn-sm:hover,
  .btn-sm:focus,
  .btn-lg:hover,
  .btn-lg:focus,
  .btn-icon:hover,
  .btn-icon:focus {
    @apply bg-text ring-0;
  }

  .btn-sm {
    @apply flex h-[calc(theme(spacing.lg)+theme(spacing.3xs))] items-center justify-center rounded-[2rem] border-2 border-solid border-transparent p-xs font-btn text-sm uppercase text-text transition-colors duration-300 ease-in-out
    [&>*]:duration-300 [&>*]:ease-in-out;
  }

  .btn-lg {
    @apply flex h-[calc(theme(spacing.lg)+theme(spacing.xs))] min-w-[calc(theme(spacing.3xl)+theme(spacing.2xl))] items-center justify-center  rounded-[2rem] border-2 border-solid border-transparent p-sm px-md font-btn text-sm uppercase text-text transition-colors duration-300 ease-in-out
    [&>*]:duration-300 [&>*]:ease-in-out;
  }

  .btn-icon {
    @apply flex h-[calc(theme(spacing.lg)+theme(spacing.3xs))] w-[calc(theme(spacing.lg)+theme(spacing.xs))] items-center justify-center rounded-[2rem] border-2 border-solid border-transparent stroke-2 text-text transition-colors duration-300 ease-in-out
    [&>*]:transition-colors [&>*]:duration-300 [&>*]:ease-in-out;
  }

  /* --- SCROLLBAR --- */



  .cart-items-scrollbar::-webkit-scrollbar {
    @apply w-[22px];
  }

  .cart-items-scrollbar::-webkit-scrollbar-track {
    @apply bg-bar;
  }

  .cart-items-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-[2rem] border-[8px] border-solid border-bar bg-text;
  }

  /* --- FORMS --- */

  :focus {
    @apply rounded-[2] outline-none ring-2 ring-accent duration-300 ease-in-out;
  }

  input[type="search"]::-webkit-search-cancel-button {
    @apply pointer-events-none;
    -webkit-appearance: none;
  }

  input[type="phone"],
  input[type="text"],
  input[type="email"] {
    @apply mt-md h-[calc(theme(spacing.lg)+theme(spacing.xs))] w-full rounded-[2rem] border-2 border-solid border-text   bg-transparent p-sm text-text transition-colors duration-300 ease-in-out
    placeholder:text-text placeholder:opacity-50;
  }

  label[type="phone"],
  label[type="text"],
  label[type="email"] {
    @apply absolute left-0 mx-md mt-sm items-center justify-center self-center bg-bg3 px-3xs text-center font-btn text-sm uppercase text-text 
    before:content-["*"];
  }

  /* input[type="checkbox"] {
    @apply inline-block h-sm w-sm rounded-[2rem] border-2 border-text bg-transparent text-center  checked:after:absolute checked:after:content-['\2714'];
    -webkit-appearance: none;
  }
  input[type="checkbox"]:checked,
  input[type="checkbox"]:active {
    @apply bg-[#e9ecee];
  }

  label[type="checkbox"] {
    @apply ml-3xs inline-block bg-red-100;
  } */

  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
