@layer base {
  :root {
    --text-flow: 1em;
  }

  html {
    @apply text-[62.5%];
  }
  body {
    @apply text-base text-text;
  }

  .page-wrapper {
    @apply mx-auto w-[calc(100%-2*theme(spacing.md))] max-w-screen-xl;
  }

  h1,
  h2,
  h3 {
    @apply font-serif font-semibold leading-tight;

    text-wrap: balance;
  }

  h1 {
    --text-flow: 3em;

    @apply text-lg;
  }

  h2 {
    --text-flow: 2.5em;

    @apply text-md;
  }

  h3 {
    --text-flow: 1em;
  }

  article > * + * {
    @apply mt-[var(--text-flow)];
  }

  a:hover,
  a:focus {
    @apply text-accent;
  }

  .btn-sm {
    @apply flex h-btn-sm min-w-max items-center justify-center rounded-[3rem] border-2 border-solid border-transparent px-xs font-btn text-sm uppercase text-text  duration-300 ease-in-out ;
  }

  .btn-sm:hover {
    @apply bg-text;
  }

  .btn-lg {
    @apply flex h-btn-lg min-w-[15rem] items-center justify-center rounded-[3rem] border-2 border-solid border-transparent p-gap px-lg font-btn text-sm uppercase text-text transition-transform duration-300 ease-in-out;
  }

  .btn-lg:hover {
    @apply bg-text ;
  }

  .btn-border {
    @apply border-text;
  }

  .box-sm {
    @apply overflow-hidden rounded-[3rem] bg-bg3 p-gap;
  }

  .box-lg {
    @apply grid grid-cols-1 items-center justify-items-center overflow-hidden rounded-[3rem] bg-bg2 p-gap  ;
  }






  .cart-items-scrollbar::-webkit-scrollbar {
     @apply w-sm ;

     
    
  }

  .cart-items-scrollbar::-webkit-scrollbar-track {
    @apply bg-cart-bar w-[20px];
  }

  .cart-items-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-cart-bar border-[3px]  rounded-[3rem] border-solid bg-text border-cart-bar;
    
    

  }


  .bg {
    background-image: linear-gradient(
      to top,
      #ffd479,
      #fed681,
      #fdd88a,
      #fbd992,
      #fadb9a,
      #fadb9a,
      #fadb9a,
      #fadb9a,
      #fbd992,
      #fdd88a,
      #fed681,
      #ffd479
    );
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
