@layer base {
  :root {
    --text-flow: 1em;
  }

  body {
    @apply text-md text-text;
  }

  h1,
  h2,
  h3 {
    @apply font-serif font-semibold leading-tight;

    text-wrap: balance;
  }

  h1 {
    --text-flow: 3em;

    @apply text-xl;
  }

  h2 {
    --text-flow: 2.5em;

    @apply text-lg;
  }

  h3 {
    --text-flow: 1em;

    @apply text-md;
  }

  article > * + * {
    @apply mt-[var(--text-flow)];
  }

  a:hover,
  a:focus {
    @apply text-accent;
  }

  .dot {
    @apply w-[4px] h-[4px] mx-2xs bg-text rounded-full inline-block self-center;
  }
}
