@use "../abstracts/mixins" as *;
@use "../base/colors" as *;

@mixin nav-bar {
    .nav-bar {
        position: fixed;
        z-index: 3;

        .burger-btn {
            &-wrapper {
            @include page-wrapper;

            height: 7rem;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            }
        }
    
        .nav {
            min-height: 100svh;
            width: 50vw;

            background: $clr-nav-bg;

            &__list {  
                &__item {                  
                    &--shop {
                        &__item {
                        }
                    }
                }
            }
        }
    }
    
}

@mixin nav-bar-big {
    .nav-bar {
        all:unset;

        &-wrapper {
            @include page-wrapper;
        }

        .burger-btn {
            &-wrapper {
                display: none;
            }
        }
    
        .nav {
            all:unset;	
            position: fixed;
            z-index: 100;
    
            height: 8rem;
            display: flex;
            align-items: right;
            justify-content: left;
    
            &-wrapper {
                
            }
    
            &__list {
                height: 8rem;
    
                all:unset;
    
                display: flex;
                align-items: center;
                justify-content: left;
        
                
    
                &__item {
                    &--shop {
                        &__item {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}


