@use "../base/colors" as *;
@use "../abstracts/mixins" as *;
@use "../components/burger-btn" as *;

.grid {
	position: relative;

	min-height: 100vh;
	min-height: 100svh;

	min-width: 100sw;
	min-width: 100svw;

	.header {
		@include burger-btn;

		

		.nav-bar {
			position: fixed;
			height: 6rem;
			width: 100%;

			
			
			

			background: $clr-nav-bar-bg;

			&-wrapper {
				height: 100%;
				padding: 0 1rem;
			}

			&__1 {
				.nav {
					display: none;

					position: fixed;
					min-height: 100svh;
					min-width: 40svw;

					background: $clr-nav-bg;
					
					&__list {
						margin-top: 6rem;

						&__item {
							&--shop {
								&__item {
								}
							}
						}
					}
				}
			}
	
			.logo {
				display: flex;
				justify-content: center;

				img {
					position: absolute;
					height: 8rem;
					width: 8rem;

					border-radius: 50%;
				}

				&--shadow {
					position: absolute;
					top: -1rem;

					height: 10rem;
					width: 10rem;

					border-radius: 50%;
					background: $clr-nav-bar-bg;
				}
			}
	
			&__2 {
				display: flex;
				align-items: center;
				justify-content: flex-end;

				.search-btn {	
				}
				.user-btn {	
				}
				.cart-btn {					
				}
			}
		}
	
		.shop-menu {
			display: none;
		}
	}
}

@media (min-width: 768px) {
	.grid {
		.header {			
			.nav-bar {
				height: 8rem;
				
				&-wrapper {
					@include page-wrapper
				}
	
				&__1 {
					.burger-btn {
						display: none;
					}
					.nav {
						all: unset;
						&__list {
							all: unset;
							&__item {
								&--shop {
									&__item {
										display: none;
									}
								}
							}
						}
					}
				}
				.logo {
					img {
						height: 12rem;
						width: 12rem;
					}

					&--shadow {
						top: -1rem;
						height: 14rem;
						width: 14rem;
					}
				}				
			}

			.shop-menu {
				margin-top: 14rem;

				background: $clr-shop-menu-bg;

				&-wrapper {
					@include page-wrapper
				}
	
				&__item {
					align-items: center;
					justify-content: center;

					text-align: center;
					
					&__box {
						
					}
				}
			}
		}
	}

}

@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}