@use "../abstracts/mixins" as *;
@use "../base/colors" as *;
@use "../base/spaces" as *;
@use "../components/header/nav-bar" as *;

.header {
	.header-bar {
		position: fixed;
		z-index: 1;

		height: $space-3xl;
		width: 100%;

		background: $clr-nav-bar-bg;

		&-wrapper {
			@include page-wrapper;

			height: 100%;
		}

		&__1 {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		.logo {
			display: flex;
			justify-content: center;


			&--shadow {
				position: absolute;
				top: -1rem;

				height: calc($space-3xl + 3rem);
				width: calc($space-3xl + 3rem);

				border-radius: 50%;
				background: $clr-nav-bar-bg;
			}

			img {
				position: absolute;
				height: calc($space-3xl + 1rem);
				width: calc($space-3xl + 1rem);

				border-radius: 50%;
			}
		}

		&__2 {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.search-btn {	
			}
			.user-btn {	
			}
			.cart-btn {					
			}
		}
	}
}



@media (min-width: $media-query-1) {
	.header {			
		.header-bar {
			height: calc($space-3xl + $space-s);
			
			&-wrapper {
				height: 100%;
				
				@include page-wrapper
			}

			&__1 {
				display: flex;
				align-items: center;
				justify-content: left;
			}
			.logo {
				&--shadow {
					height: calc($space-3xl + 5rem);
					width: calc($space-3xl + 5rem);
				}
				img {
					height: calc($space-3xl + 3rem);
					width: calc($space-3xl + 3rem);
				}
			}				
		}
	}
}




