@use "./fonts" as *;

// Odległości na stronie:

$space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
$space-2xs: clamp(0.56rem, calc(0.55rem + 0.09vw), 0.63rem);
$space-xs: clamp(0.88rem, calc(0.86rem + 0.09vw), 0.94rem);
$space-s: clamp(1.13rem, calc(1.09rem + 0.18vw), 1.25rem);
$space-m: clamp(1.69rem, calc(1.64rem + 0.27vw), 1.88rem);
$space-l: clamp(2.25rem, calc(2.19rem + 0.36vw), 2.5rem);
$space-xl: clamp(3.38rem, calc(3.28rem + 0.54vw), 3.75rem);
$space-2xl: clamp(4.5rem, calc(4.38rem + 0.71vw), 5rem);
$space-3xl: clamp(6.75rem, calc(6.56rem + 1.07vw), 7.5rem);

$space-gap: $space-m;
$space-header-bar-s: $space-3xl;
$space-header-bar-l: calc($space-3xl + $space-s);

$space-btn-height-s: $space-xl;
$space-btn-height-l: calc($space-xl + $space-s);

$space-shop-menu-img: $space-3xl;
$space-shop-menu: calc(2*$fs-accent-500 + $space-shop-menu-img + $space-s);

// Media queries:

$media-query-gap: 430px;

$media-query-shop-item-2: 600px;
$media-query-shop-item-3: 1000px;
$media-query-shop-item-4: 1400px;

$media-query-shop-menu: 800px;
$media-query-header-bar-l: 1000px;
$media-query-page-wrapper: 1400px;


// Maksymalna szerokość strony:

.page-wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: $media-query-page-wrapper;

	padding: 0 $space-xs;


}

@media (min-width: $media-query-gap) {
	.page-wrapper {
		padding: 0 $space-gap;
	}
}

// Maksymalna szerokość tekstu:

.text-wrapper {
	width: min(100% - $space-gap, 70ch);
	margin-inline: auto;
}


