@use "../base/colors" as *;
@use "../base/fonts" as *;
@use "../base/spaces" as *;
@use "../abstracts/mixins" as *;

.button { 
	
	@include round-corners;

	display: flex;
	align-items: center;
	justify-content: center;

	height: $space-btn-height-s;
	padding: 0 $space-xs;

	border: 2px solid transparent;

	background: transparent;
	color: $clr-text;

    font-family: $ff-base;
    font-size: $fs-accent-400;
    font-weight: 400;
	text-transform: uppercase;

	


	&:hover {
		border: 2px solid $clr-text;
		background: $clr-text;
		fill: $clr-text;
		color: $clr-header-bar-bg;

	}
}

.button-big { 
	border: 2px solid transparent;
	@include round-corners;

	height: calc($space-xl + $space-s);

	
	padding: 0 $space-gap;

	display: flex;
	align-items: center;
	justify-content: center;

	background: $clr-bg;
	color: $clr-text;

    font-family: $ff-base;
    font-size: $fs-accent-400;
    font-weight: 400;
	text-transform: uppercase;


	&:hover {
		border: 2px solid $clr-text;
		background: $clr-text;
		fill: $clr-text;
		color: $clr-header-bar-bg;

	}
}




