@use "../base/colors" as *;
@use "../base/spaces" as *;
@use "../abstracts/mixins" as *;

.footer {
	background: $clr-footer-bg;

	&-wrapper {
		margin-top: $space-header-bar-s;
		width: calc(100% - 2 * $space-gap);
	}

	&__item {
		margin-bottom: $space-xl;

		&--copyrights {
			margin-bottom: $space-gap;
		}
	}
}

@media (min-width: $media-query-1) {
	.footer {
		&-wrapper {
			margin-top: $space-header-bar-l;
		}

		&__item {
			margin-bottom: $space-xl;

			&--media-bar {
				text-align: right;
				margin-bottom: $space-gap;
			}

			&--copyrights {
				margin-bottom: $space-gap;
			}
		}
	}
}
