@use "../base/colors" as *;
@use "../base/spaces" as *;
@use "../abstracts/mixins" as *;

.footer {
	background: $clr-footer-bg;

	&-wrapper {
		margin-top: $space-xl;
		width: calc(100% - 2 * $space-gap);
	}

	&__item {
		margin-bottom: $space-gap;

		&--copyrights {
			margin-bottom: $space-s;
		}
	}
}

@media (min-width: $media-query-header-bar-l) {
	.footer {
		&__item {
			&--media-bar {
				text-align: right;

				margin-bottom: $space-s;
			}
		}
	}
}
